<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보변경</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel panel-warning" style="width: 60%; margin: auto;">
    <div class="panel-body" style="margin-left: 350px;">
        <img src="/image/profile.jpg" alt="앙꼬" style="width: 130px; height: 130px;" class="img-rounded">
        
        <button type="button" class="btn btn-default btn-xs" id="editPhoto">사진변경</button>
    </div>

    <div class="panel-heading">
        <form class="form-horizontal">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="nickname"  >별명</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="nickname" name="nickname" placeholder="별명변경">
                </div>
            </div>

            <div class="form-group form-group-lg">

                <label class="col-sm-2 control-label" for="userPw" >비밀번호</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="userPw" name="userPw" placeholder="비밀번호변경">

            
                </div>
            </div>

            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="userPwCheck" >비밀번호 확인</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="userPwCheck" name="userPwCheck" placeholder="비밀번호확인">


                </div>
            </div>


            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="region" >지역</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="region" name="region" placeholder="지역변경">
                </div>
            </div>

            <div class="pull-right">
            <button type="button" class="btn btn-warning" id="edit">변경</button>
            <button type="button" class="btn btn-warning" id="cancel">취소</button>
            </div>
        </form>


    </div>

</div>


</body>
</html>