<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.diary.mappers.UserMapper">

    <select id="selectUserList" resultType="UserEntity">
        SELECT
            user_pk AS userPk,
            nickname,
            gender,
            birth,
            region,
            user_id AS userId,
            user_pw AS userPw,
            user_email AS userEmail,
            reg_date AS regDate
        FROM
            tUser
    </select>

    <insert id="joinUser">
        INSERT INTO tUser
            (nickname, gender, birth, region, user_id, user_pw, user_email)
        VALUES
            (#{nickname}, #{gender}, #{birth}, #{region}, #{userId}, #{userPw}, #{userEmail})
    </insert>

    <select id="loginUser" resultType="UserEntity">
        SELECT
            user_pk AS userPk,
            nickname,
            gender,
            birth,
            region,
            user_id AS userId,
            user_pw AS userPw,
            user_email AS userEmail,
            reg_date AS regDate
        FROM
            tUser
        WHERE
            user_id = #{userId}
    </select>
</mapper>